In [1]:
import pandas as pd

In [4]:
tabla = pd.DataFrame(data={'ano':[1, 2, 3], 'rend':[0.2, -0.1, 0.15]})
tabla['1+rend'] = 1 + tabla['rend']
tabla['acum'] = tabla['1+rend'].cumprod()
tabla

   ano  rend  1+rend   acum
0    1  0.20    1.20  1.200
1    2 -0.10    0.90  1.080
2    3  0.15    1.15  1.242

In [5]:
tabla.iloc[-1, -1] - 1

0.242

In [6]:
tabla2 = pd.DataFrame(data={'prob':[0.4, 0.3, 0.3], 'rend':[-0.1, 0.08, 0.23]})
tabla2

   prob  rend
0   0.4 -0.10
1   0.3  0.08
2   0.3  0.23

In [8]:
Er = (tabla2['prob'] * tabla2['rend']).sum()
Er

0.053

In [12]:
sr2 = (tabla2['prob'] * (tabla2['rend'] - Er)**2).sum()
sr2**0.5

0.13777155003846042