In [1]:
import pandas as pd

In [2]:
tabla = pd.DataFrame({'ret':[-0.15, -0.2, 0.3, 0.2, 0.1]})
tabla

    ret
0 -0.15
1 -0.20
2  0.30
3  0.20
4  0.10

In [3]:
(1+tabla).prod()**(1/5)-1

ret    0.031348
dtype: float64

In [4]:
tabla.mean()

ret    0.05
dtype: float64

In [7]:
tabla.std(ddof=1)

ret    0.217945
dtype: float64

In [8]:
tabla = pd.DataFrame({'ret':[-0.1, 0.15, 0.3]})
tabla

    ret
0 -0.10
1  0.15
2  0.30

In [9]:
(1+tabla).prod()**(1/3)-1

ret    0.10398
dtype: float64

In [10]:
tabla = pd.DataFrame({'prob':[0.3, 0.4, 0.3], 'ret':[0.1, 0.05, 0.0]})
tabla

   prob   ret
0   0.3  0.10
1   0.4  0.05
2   0.3  0.00

In [11]:
Er = (tabla['prob'] * tabla['ret']).sum()
Er

0.05

In [12]:
sr2 = (tabla['prob'] * (tabla['ret'] - Er)**2).sum()
sr2

0.0015000000000000002

In [13]:
sr = sr2**0.5
sr

0.03872983346207417

In [14]:
tabla = pd.DataFrame({'ret':[-0.1, 0.2, 0.3]})
tabla

   ret
0 -0.1
1  0.2
2  0.3

In [15]:
tabla.mean()

ret    0.133333
dtype: float64